.container {
  background-color: #101926;
}

.header {
  display: none;
  @media only screen and (min-width: 1024px) {
    background-color: #101926;
    max-width: 1440px;
    margin-inline: auto;
    height: 80px;
    width: 100%;
    padding-inline: 6.75rem;
    padding-block: 2.5rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: #fff;

    ul {
      float: right;
      width: 100%;
    }

    li {
      display: inline-block;
      margin: 0 20px;
    }

    a {
      cursor: pointer;
      &:global(.active),
      &:hover {
        border-bottom: 1px solid #fff;
      }
    }
  }
}

.logo {
  object-fit: cover;
  margin-left: -2rem;
  max-width: 260px;
  cursor: pointer;
}
