.container {
  padding-inline: 1.5rem;
  margin-bottom: 4.5rem;
  form p {
    text-align: center;
    margin-bottom: 10px;
    color: #10101b;
    // letter-spacing: 0.1rem;
  }

  form label {
    margin-bottom: 5px;
    color: #111;
    // letter-spacing: 0.2rem;
  }

  form input,
  textarea {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: 0.3s;
    border-radius: 10px;
  }

  textarea:focus {
    border: 2px solid #10101b;
    background-color: #fff;
  }
  form input:focus {
    border: 2px solid #10101b;
    background-color: #fff;
  }

  form button {
    margin-top: 15px;
    padding: 5px;
    outline: none;
    width: 900px;
    color: rgb(230, 227, 227);
    font-size: 12px;
    border-radius: 19px;
    background-color: #101926;
    font-size: 18px;
    width: 160px;
    align-items: center;
    justify-content: center;
  }

  form button:hover {
    background-color: whitesmoke;
    color: #1f2235;
  }

  button .load {
    width: 100%;
  }

  button .load img {
    width: 60px;
    color: green;
  }
}

.containerTitle {
  margin-block: 1.5rem;
  padding-bottom: 0.5rem;
  color: #101926;
  text-align: center;
  h2 {
    font-weight: 600;
    font-size: 1.4rem;
    margin: 0px;
    padding-block: 0.5rem;
  }
  p {
    font-size: 1.2rem;
    color: #101926;
    margin: 0rem;
    letter-spacing: 0.015em;
    font-weight: 300;
  }
}

.title {
  margin-inline: 12px;
}

.icons {
  display: flex;
  gap: 7px;
  margin-inline: 12px;
}

.main-container {
  margin: 40px 7px 100px 7px;
}

.centralForm {
  max-width: 1100px;
  padding: 10px;
  display: flex;
  box-shadow: 0 0px 20px -2px #10101b;
  border-radius: 12px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  background-color: #10101b;
}

.centralForm h2 {
  color: #fff;
  letter-spacing: 0.2rem;
  margin-bottom: 20px;
}

.backForm {
  max-width: 380px;
  margin: 0 auto;
}

.backForm .imgBack {
  width: 100%;
  margin-bottom: 20px;
}

.imgBack h4 {
  letter-spacing: 0.3rem;
  font-weight: 400;
  color: white;
  font-size: 16px;
  opacity: 0.5;
}

.backForm .imgBack img {
  margin-top: 10px;
  width: 100%;
  opacity: 0.5;
}

.centralForm form {
  width: auto;
  box-shadow: 0 0 2px 1px white;
  display: flex;
  color: #111;
  padding: 15px;
  justify-content: center;
  flex-direction: column;
  margin-top: -52px;
  opacity: 0.9;
  background-color: white;
  box-shadow: 0 0px 20px -2px #10101b;
  border-radius: 12px;
}

@media screen and (min-width: 940px) {
  .backForm {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

  .imgBack {
    flex: 1;
    align-self: center;
    margin-right: 20px;
  }

  .container form {
    flex: 0.9;
  }
}
@media screen and (max-width: 414px) {
  .centralForm h2 {
    font-size: 16px;
  }
  .backForm .imgBack img {
    width: 100%;
    opacity: 0.2 !important;
  }
}
