.headerMobile {
  background: #101926;
  height: 80px;
  // margin-left: -15px;
  z-index: 20;
  padding-right: 1.5rem;
  padding-block: 2.5rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media only screen and (min-width: 1024px) {
    display: none;
  }
}

.logo {
  object-fit: cover;
  width: 260px;
  margin-left: -15px;
  cursor: pointer;
}
