.container {
  padding-block: 1.5rem;
  background: linear-gradient(113.03deg, #010e28 5.44%, #01304a 112.59%);
  max-width: 1440px;
  margin-inline: auto;
  color: #fff;
  position: relative;

  img {
    display: flex;
    justify-content: center;
    padding-inline: 1.5rem;
    width: 100vw;
    max-width: 500px;
    object-fit: cover;
    border-radius: 5%;
  }

  button {
    margin-top: 2rem;
    display: flex;
    width: 100%;
    justify-content: center;
    max-width: 200px;
    margin-inline: auto;
    padding-inline: 1rem;
    font-size: 20px;
    padding-block: 0.8rem;
    border-radius: 50px;
    border: none;
    background: #e29b66;
    color: rgb(255, 255, 255);

    animation: pulse 2s infinite;
  }
}

.aboutContent {
  padding-inline: 1.5rem;
  position: relative;
  h2 {
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 15px;
  }

  span {
    margin-bottom: 1rem;
    &::before {
      content: '';
      position: absolute;
      width: 40%;
      height: 2px;
      // top: 25%;
      background-image: linear-gradient(
        90deg,
        hsl(0, 0%, 100%),
        hsl(0, 0%, 80%)
      );
      border-radius: 10px;
    }
  }
}

.statsList {
  padding-block: 1.7rem;
  display: grid;
  gap: 30px;
  padding-inline: 10px;
  li {
    border-radius: 8px;
    background: #fff;
    text-align: center;
    padding: 15px;
    box-shadow: 0 5px 20px 1px hsla(220, 63%, 33%, 0.1);
    list-style: none;
  }
}

.statsTitle {
  color: #101926;
  font-size: 2.2rem;
  font-weight: 600;
  padding: 0px;
  margin: 0px;
}

.statsText {
  font-size: 1.1rem;
  color: #101926;
  padding: 0px;
  margin: 0px;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
