.container {
  position: absolute;
  margin: 0;
  background: #101926;
  width: 100vw;
  text-align: center;
}
.container p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
  color: rgb(110, 110, 110);
}
.container span {
  color: whitesmoke;
  text-transform: uppercase;
  font-weight: 200;
}

.firstFooter {
  background: #142132;
  padding-block: 1.5rem;
  text-align: left;
  padding-inline: 1.5rem;
}

.informationDetails {
  h3 {
    color: #fff;
  }
  p {
    color: rgb(225, 225, 225);
  }
}

.footerEnd {
  padding-block: 8px;
}
