.container {
  padding-inline: 1.5rem;
  margin-inline: auto;
  margin-block: 3rem;
  color: #101926;

  ul {
    padding-inline: 0px;
    list-style-type: none;
  }
}

.content {
  h2 {
    font-weight: 600;
    font-size: 1.8rem;
    margin: 0px;
    text-align: center;
    padding-block: 0.5rem;
  }
}

.serviceCard {
  padding: 30px;
  box-shadow: 0 5px 20px 1px hsla(220, 63%, 33%, 0.1);
  border-radius: 12px;

  .text {
    text-align: justify;
    margin-block-end: 20px;
  }

  h3 {
    text-align: center;
    margin-block-end: 15px;
    font-size: 1.3rem;
  }

  button {
    display: flex;
    margin-inline: auto;
    padding: 15px;
    border: 1px solid rgba(6, 30, 123, 0.835);
    border-radius: 50%;
    color: rgba(6, 30, 123, 0.835);
    transition: 0.15s ease;
    background: transparent;
  }
}

.cardIcon {
  // background-image: url(../../public/images/service.png);
  background-repeat: no-repeat;
  background-size: contain;
  // background-color: hsl(235deg 88% 25% / 7%);
  // aspect-ratio: 1 / 1;
  max-width: 165px;
  display: grid;
  place-content: center;
  margin-inline: auto;
  transition: 0.15s ease;

  color: #101926;
}
