html,
body {
  padding: 0;
  margin: 0;
  --swiper-theme-color: #101926;
  font-family: 'Work Sans', -apple-system, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
