.header {
  background: #101926;
  height: 80px;
  padding-inline: 10%;
  padding-block: 2.5rem;
  align-items: center;
  display: flex;
  justify-content: space-between;

  ul {
    float: right;
  }

  li {
    display: inline-block;
    // line-height: 80px;
    margin: 0 20px;
  }

  a {
    cursor: pointer;
    &:global(.active),
    &:hover {
      border-bottom: 1px solid #fff;
    }
  }

  @media only screen and (max-width: 1024px) {
    display: none;
  }
}
.headerMobile {
  background: #101926;
  height: 80px;
  padding-inline: 5%;
  padding-block: 2.5rem;
  align-items: center;
  display: flex;
  justify-content: space-between;

  @media only screen and (min-width: 1024px) {
    display: none;
  }
}

.logo {
  object-fit: cover;
  width: 260px;
  cursor: pointer;
}
